body {
  font-family: sans-serif;
  margin: 0;
}
header {
  background: purple;
  height: 100px;
}
h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

article {
  display: block grid;
  padding: 10px;
  margin: 10px;
  background: aqua;
}

article span {
  background-color: black;
  color: white;
  margin: 1px;
  padding: 10px;
  border-radius: 7px;
}

article img {
  max-width: 100%;
}
/* Add your flexbox CSS below here */



